<h2 class="text-3xl mb-2 font-semibold">Listado</h2>
<ul class="border border-gray-200 rounded overflow-hidden shadow-md">
  <li  *ngFor="let personajes of characterList; let i = index; let isFirst =first; let isLast=last"  class="px-4 py-2 hover:bg-sky-100 hover:text-sky-900 border-b last:border-none border-gray-200 transition-all duration-300 ease-in-out" [ngClass]="{'bg-amber-400':isFirst, 'bg-green-300':isLast}">
    <span class="text-blue-600">{{i+1}}-</span>
    {{personajes.name}} con una fuerza de {{personajes.power}}
    <button (click)="onDeleteCharacter(personajes.id)" class='float-right relative bottom-1.5 px-2 py-1 font-medium tracking-wide text-center text-white capitalize transition-colors duration-300 transform bg-teal-400 rounded-md hover:bg-teal-500 focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80'>
      X
    </button>
  </li>

</ul>
